# Local todo list
todo.txt

bin/

# Application specific
data/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
out/

# Mac
.DS_Store

# Maven
log/
target/

# JRebel
/src/main/resources/rebel.xml
